<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="../static/CSS/index.css" type="text/css">
        <script src="https://kit.fontawesome.com/f13b447cfe.js" crossorigin="anonymous"></script>
        <title>Coffee</title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

        </style>
    </head>
    <body>
        <header id="header">
            <!--Logo-->
            <a href="index"><div class="logo"></div></a>
            <!--Navbar-->
            <nav id="nav">
                <button aria-label="Open menu" aria-controls="menu" aria-haspopup="true" aria-expanded="false" id="mobile"><span id="hamburger"></span></button>
                <div id="menu" role="menu" class="navbar">
                    <a href="index">Home</a>
                    <button class="dropdown">More <i class="fa fa-caret-down"></i>
                        <div class="dropdown-content">
                            <a href="contact">Contact</a>
                            <a href="contact">Subscribe</a>
                        </div>
                    </button>
                    <a href="#">Booking</a>
                    <a href="index#about">About</a>
                    <div class="drop">
                        <a href="contact">Contact</a>
                        <a href="contact">Subscribe</a>
                    </div>                
                </div>
            </nav>
        </header>

        <!--Title Reservation-->
        <h1 class="reser">Reservations</h1>

        <script src="script.js"></script>
    </body>