<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel="stylesheet" href="../static/CSS/index.css" type="text/css">
        <script src="https://kit.fontawesome.com/f13b447cfe.js" crossorigin="anonymous"></script>
        <title>Coffee</title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

        </style>
    </head>
    <body>
        <header id="header">
            <!--Logo-->
            <a href="index"><div class="logo"></div></a>
            <!--Navbar-->
            <nav id="nav">
                <button aria-label="Open menu" aria-controls="menu" aria-haspopup="true" aria-expanded="false" id="mobile"><span id="hamburger"></span></button>
                <div id="menu" role="menu" class="navbar">
                    <a href="index">Home</a>
                    <button class="dropdown">More <i class="fa fa-caret-down"></i>
                        <div class="dropdown-content">
                            <a href="contact.html">Contact</a>
                            <a href="contact.html">Subscribe</a>
                        </div>
                    </button>
                    <a href="booking.html">Booking</a>
                    <a href="#about">About</a>
                    <div class="drop">
                        <a href="contact.html">Contact</a>
                        <a href="contact.html">Subscribe</a>
                    </div>               
                </div>
            </nav>
        </header>

        <!--Img of Coffee on top-->
        <div class="img-top" data-aos="fade-down" data-aos-duration="1500">
            <div style="position: relative; top: 6rem; padding: 2rem;">
                <!--Phrase & links on top.-->
                <div class="p-phrase-link">
                    <p class="phrase-first" data-aos="fade-right" data-aos-duration="1500" data-aos-offset="300">First<br>I drink the coffee<br>then<br>I do the things</p>
                    <a href="contact">Our menu</a><i class="fa-solid fa-diamond diamond"></i><a href="#">Meet our grain selection</a>
                </div>
            </div>                
        </div>
        
      

        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
          AOS.init();
        </script>
        <script src="script.js"></script>
    </body>