<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel="stylesheet" href="../static/CSS/index.css" type="text/css">
        <script src="https://kit.fontawesome.com/f13b447cfe.js" crossorigin="anonymous"></script>
        <title>Coffee</title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

        </style>
    </head>
    <body>
        <header id="header">
            <!--Logo-->
            <a href="index"><div class="logo"></div></a>
            <!--Navbar-->
            <nav id="nav">
                <button aria-label="Open menu" aria-controls="menu" aria-haspopup="true" aria-expanded="false" id="mobile"><span id="hamburger"></span></button>
                <div id="menu" role="menu" class="navbar">
                    <a href="index">Home</a>
                    <button class="dropdown">More <i class="fa fa-caret-down"></i>
                        <div class="dropdown-content">
                            <a href="contact.html">Contact</a>
                            <a href="contact.html">Subscribe</a>
                        </div>
                    </button>
                    <a href="booking.html">Booking</a>
                    <a href="#about">About</a>
                    <div class="drop">
                        <a href="contact.html">Contact</a>
                        <a href="contact.html">Subscribe</a>
                    </div>               
                </div>
            </nav>
        </header>

        <!--Img of Coffee on top-->
        <div class="img-top" data-aos="fade-down" data-aos-duration="1500">
            <div style="position: relative; top: 6rem; padding: 2rem;">
                <!--Phrase & links on top.-->
                <div class="p-phrase-link">
                    <p class="phrase-first" data-aos="fade-right" data-aos-duration="1500" data-aos-offset="300">First<br>I drink the coffee<br>then<br>I do the things</p>
                    <a href="contact">Our menu</a><i class="fa-solid fa-diamond diamond"></i><a href="#">Meet our grain selection</a>
                </div>
            </div>                
        </div>
        
        <!--3 Imgs-->
        <div class="card-all">
            <div class="card-info" data-aos="fade-right" data-aos-duration="1500" data-aos-offset="300">
                <div class="img-coffee all-coffee"></div>
                <div class="text-card">
                    <h1>Fresh & selected beans</h1>
                    <p>j sahb sdjhd dhjsd djhd  deje knde edkj ek dsjhdb d dsjh dj d hsd sjh dsb dv</p>
                </div>
            </div>
            <div class="card-info" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="300">
                <div class="img-coffee1 all-coffee"></div>
                <div class="text-card">
                    <h1>Fresh & selected beans</h1>
                    <p>j sahb sdjhd dhjsd  fdwnewn kew ndekj e kdjhd dsjhdb d dsjh dj d hsd sjh dsb dv</p>
                </div>
            </div>
            <div class="card-info" data-aos="fade-left" data-aos-duration="1500" data-aos-offset="300">
                <div class="img-coffee2 all-coffee"></div>
                <div class="text-card">
                    <h1>jahfsc sahjd hsd</h1>
                    <p>j sahb sdjhd dhjfjjnfdnj dsjkncjne dwnjdsnl sd djhd dsjhdb d dsjh dj d hsd sjh dsb dv</p>
                </div>
            </div>
        </div>
        
        <!--About-->
        <section style="height: 100%;">
            <div class="main" id="about">
                <div class="img-who">
                    <div class="card center">
                        <div class="v">
                            <div class="heading">How we make a cup of Coffe?</div>
                            <p class="text">O verdadeiro amor hoje em dia pode ser encontrado em muitos lugares criativos – online, em um bar ou à moda antiga, em um encontro às cegas. Mas para um verdadeiro amante de café, o relacionamento que eles querem e precisam é encontrado todas as manhãs (meio-dia e noite, às vezes!) no fundo de sua caneca favorita. Preto, creme, açúcar, espuma, sem espuma, essas preferências podem facilmente dividir nações, ao que parece, porque as pessoas ADORAM seu café de certa forma e muitas vezes não se movem em mudá-lo. Crescendo em Seattle, onde a Starbucks é a nave-mãe, e cafés artesanais são encontrados em cada esquina, cresci pensando que o café e a cultura do café eram um modo de vida normal. Mas para muitas pessoas, o café é apenas o que faz você se mexer pela manhã. Você enche sua garrafa térmica ou caneca de viagem com o que quer que tenha moído ou em uma cápsula e está pronto para o dia.
                            <br><br>
                            Então, se é você, e você gostaria de experimentar uma afinidade e apreço mais profundos por uma das melhores bebidas de Deus, então não procure mais do que estas citações.</p>
                        </div>
                    </div>
                </div>  
            </div>
        </section>

        <!--Footer-->
        <section class="Footer">
            <div class="p-info">Information
                <a href="#">About us</a>
                <a href="#">Subscribe</a>
                <a href="#">Members</a>
                <a href="#">Services</a>
            </div>
        
            <div class="p-info">Helpful Links
                <a href="#">Services</a>
                <a href="#">Help</a>
                <a href="#">Terms & Condition</a>
                <a href="#">Privacy Policy</a>
            </div>

            <div class="p-info">Partnership
                <a href="#">Websites</a>
                <a href="#">Social Media</a>
                <a href="#">Branding</a>
            </div>

            <div class="p-info-font">
                <a href="#"><i class="fas fa-envelope"></i> CoffeShop@mysite.com</a>
                <a href="#"><i class="fas fa-phone-volume"></i>Tel: (353) 0011-2233</a>
                <a href="#"><i class="fas fa-map-marker-alt"></i>Address: Somewhere - Dublin - Ireland</a>
            </div>
        </section>
        

        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
          AOS.init();
        </script>
        <script src="script.js"></script>
    </body>