<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel="stylesheet" href="../static/CSS/index.css" type="text/css">
        <script src="https://kit.fontawesome.com/f13b447cfe.js" crossorigin="anonymous"></script>
        <title>Coffee</title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');

        </style>
    </head>
    <body>
        <header id="header">
            <!--Logo-->
            <a href="index"><div class="logo"></div></a>
            <!--Navbar-->
            <nav id="nav">
                <button aria-label="Open menu" aria-controls="menu" aria-haspopup="true" aria-expanded="false" id="mobile"><span id="hamburger"></span></button>
                <div id="menu" role="menu" class="navbar">
                    <a href="index">Home</a>
                    <button class="dropdown">More <i class="fa fa-caret-down"></i>
                        <ul class="dropdown-content">
                            <a href="contact.html">Contact</a></li>
                            <a href="contact.html">Subscribe</a></li>
                            <a href="menu.html">Menu</a></li>
                        </ul>
                    </button>
                    <a href="booking.html">Booking</a>
                    <a href="#about">About</a>
                    <div class="drop">
                        <a href="contact.html">Contact</a>
                        <a href="contact.html">Subscribe</a>
                        <a href="menu.html">Menu</a>
                    </div>               
                </div>
            </nav>
        </header>

        <div class="img-coffee-menu"><h1>Menu</h1></div>


        <div style="width: 100%; display: flex; justify-content: center;">
            <div class="all-menu">
                <div class="title-img">
                    <div class="title-menu">
                        <h1>Coffe</h1>
                        <h2>Menu</h2>
                    </div>
                    <img src="https://www.pngkit.com/png/full/254-2541883_coffee-beans-clipart-colombian-coffee-coffee-beans-sketch.png" style="width: 9rem;">
                    <hr style="display: block; margin-before: 0.5em; margin-after: 0.5em; margin-start: auto; margin-end: auto; overflow: hidden; border-style: inset; border-width: 1px;">
                </div>
                <div class="p-menu">
                    <ul>Specials<img src="https://www.pngkit.com/png/full/166-1664855_central-perk-tile-coaster.png" style="width: 5rem;">
                        <li>Name of drink</li>
                        <li>Name of drink</li>
                        <li>Name of drink</li>
                        <li>Name of drink</li>
                    </ul>
                    <ul>Hot
                        <li>Name of drink</li>
                        <li>Name of drink</li>
                        <li>Name of drink</li>
                        <li>Name of drink</li>
                    </ul>

                </div>

                <div class="p-menu">
                    <ul>Cold
                        <li>Name of drink</li>
                        <li>Name of drink</li>
                        <li>Name of drink</li>
                        <li>Name of drink</li>
                    </ul>
                    <ul>Desserts
                        <li>Name of drink</li>
                        <li>Name of drink</li>
                        <li>Name of drink</li>
                        <li>Name of drink</li>
                    </ul>
                </div>
            </div>

        </div>
        







        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
          AOS.init();
        </script>
        <script src="script.js"></script>
    </body>
</html>