<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/CSS/index.css" type="text/css">
        <script src="https://kit.fontawesome.com/f13b447cfe.js" crossorigin="anonymous"></script>
        <title>Coffee</title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

        </style>
    </head>
    <body>
        <header id="header">
            <!--Logo-->
            <a href="../index.html"><div class="logo"></div></a>
            <!--Navbar-->
            <nav id="nav">
                <button aria-label="Open menu" aria-controls="menu" aria-haspopup="true" aria-expanded="false" id="mobile"><span id="hamburger"></span></button>
                <div id="menu" role="menu" class="navbar">
                    <a href="../index.html">Home</a>
                    <button class="dropdown">More <i class="fa fa-caret-down"></i>
                        <div class="dropdown-content">
                            <a href="contact.html">Contact</a>
                            <a href="#">idk</a>
                            <a href="#">idk</a>
                        </div>
                    </button>
                    <a href="Booking.html">Booking</a>
                    <a href="#about">About</a>
                    <div class="drop">
                        <a href="contact.html">Contact</a>
                        <a href="#">idk</a>
                        <a href="#">idk</a>
                    </div>                
                </div>
            </nav>
        </header>

        <div class="thanks">
            <i class="fa-solid fa-check" style="color: green; font-size: 3rem;"></i>
            <h6>Thank you!</h6><br>
            <h1>Reservation successfully sent. We will prepare everything for you.</h1>
            <div class="link"><a href="../../index.html">Go to home</a></div>
        </div>

        <!--Footer-->
        <section class="Footer">
            <div class="p-info">Information<br>
                <a href="social.html">About us</a>
                <a href="social.html">Subscribe</a>
                <a href="social.html">Members</a>
                <a href="social.html">Services</a>
            </div>
        
            <div class="p-info">Helpful Links<br>
                <a href="social.html">Services</a>
                <a href="social.html">Help</a>
                <a href="social.html">Terms & Condition</a>
                <a href="social.html">Privacy Policy</a>
            </div>

            <div class="p-info">Partnership<br>
                <a href="social.html">Websites</a>
                <a href="social.html">Social Media</a>
                <a href="social.html">Branding</a>
            </div>

            <div class="p-info-font">
                <a href="social.html"><i class="fas fa-envelope"></i> CoffeShop@mysite.com</a>
                <a href="social.html"><i class="fas fa-phone-volume"></i>Tel: (353) 0011-2233</a>
                <a href="social.html"><i class="fas fa-map-marker-alt"></i>Address: Somewhere - Dublin - Ireland</a>
            </div>
        </section>
        
        

        <script src="Website Structure/JS/script.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    </body>